<style>
      /* Add some basic styling to the buttons */
      button {
        background-color: white;
        color: black;
        border: 1;
        padding: 40px;
        margin: 5px;
        font-size: 82px;
        font-weight: bold;
        cursor: pointer;
      }
      /* Add some hover effect to the buttons */
      button:hover {
        background-color: #ccc;
      }</style>